<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Portfolio</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://site-assets.fontawesome.com/releases/v6.2.1/css/all.css"
    />
    <link rel="stylesheet" href="build/tailwind.css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="./build/app.css" />
    <link rel="stylesheet" href="../src/css/home.css" />
  </head>
  <style>
    #saydev {
      text-transform: uppercase;
      color: #3f5e5b;
      transition: all 0.3s ease;
    }
    #saydev:hover {
      transform: translate3d(0, -10px, 22px);
      color: #ff0266;
    }

    #boxtt {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1000px;
      min-height: 10px;
      font-family: "Raleway";
      font-size: 1rem;
      padding: 20px 20px;
      padding-bottom: 30px;
    }
    .gradient-bordertt {
      --borderWidthtt: 5px;
      position: relative;
      border-radius: var(--borderWidthtt);
    }
    .gradient-bordertt:after {
      content: "";
      position: absolute !important;
      top: calc(-1 * var(--borderWidthtt)) !important;
      left: calc(-1 * var(--borderWidthtt)) !important;
      height: calc(100% + var(--borderWidthtt) * 2) !important;
      width: calc(100% + var(--borderWidthtt) * 2) !important;
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      ) !important;
      border-radius: calc(2 * var(--borderWidthtt)) !important;
      z-index: -1 !important;
      animation: animatedgradienttt 3s ease alternate infinite !important;
      background-size: 300% 300% !important;
    }

    @keyframes animatedgradienttt {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }

    /* #boxtt {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 1000px;
      min-height: 10px;
      font-family: "Raleway";
      font-size: 1rem;
      padding: 20px 20px;
      padding-bottom: 30px;
    }
    .gradient-bordertt {
      --borderWidth: 3px;
      position: relative;
      border-radius: var(--borderWidth);
    }
    .gradient-bordertt:after {
      content: "";
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(
        60deg,
        #f79533,
        #f37055,
        #ef4e7b,
        #a166ab,
        #5073b8,
        #1098ad,
        #07b39b,
        #6fba82
      );
      border-radius: calc(2 * var(--borderWidth));
      z-index: -1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
    }

    @keyframes animatedgradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    } */
  </style>
  <body class="bg-[#fbfbfb] dark:bg-[#1D1F20]">
    <!-- <header
      class="border-b header border-blue-100/[.1] w-full blur-sm fixed bg-slate-900/[.1] backdrop-blur-sm z-50 md:filter-none"
    >
      <section class="max-w-6xl m-auto flex py-3">
        <div id="menu" class="w-full flex items-center justify-between">
          <a href="">
            <img
              class="w-12 rounded-full"
              src="https://raw.githubusercontent.com/ogdp/vuesax-icon/main/d%20logoo%201.2.jpg"
              alt=""
              srcset=""
            />
          </a>
          <nav>
            <a
              class="mx-2 text-lg font-medium text-gray-900 dark:text-sky-100 hover:text-sky-500 duration-[250ms]"
              href="/"
              >Home</a
            >
            <a
              class="mx-2 text-lg font-medium text-gray-900 dark:text-sky-100 hover:text-sky-500 duration-[250ms]"
              href="/posts"
              >Posts</a
            >
            <a
              class="mx-2 text-lg font-medium text-gray-900 dark:text-sky-100 hover:text-sky-500 duration-[250ms]"
              href="/projects"
              >Projects</a
            >
            <a
              class="mx-2 text-lg font-medium text-gray-900 dark:text-sky-100 hover:text-sky-500 duration-[250ms]"
              href="/about"
              >About</a
            >
            <a
              class="mx-2 text-lg font-medium text-gray-900 dark:text-sky-100 hover:text-sky-500 duration-[250ms]"
              href="/contact"
              >Contact</a
            >
          </nav>
        </div>
        <div class="darkmode relative w-11">
          <i
            id="moon"
            class="fa-solid text-xl fa-moon text-gray-900 dark:text-sky-100 absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4"
          ></i>
          <i
            id="sun"
            class="display-none fa-solid text-xl fa-sun-bright dark:text-sky-100 text-gray-900 absolute top-2/4 left-2/4 -translate-x-2/4 -translate-y-2/4"
          ></i>
        </div>
      </section>
    </header> -->
    <div class="min-w-full h-[88px]"></div>
    <div></div>
    <section class="min-h-screen dark:text-sky-100 dark:#1d1f20">
      <h1
        class="md:py-10 md:pb-14 font-bold text-2xl md:text-[50px] text-center dark:text-sky-100"
      >
        About
      </h1>
      <div class="container_about flex justify-center items-center">
        <div class="gradient-bordertt dark:bg-[#1D1F20]" id="boxtt">
          <div
            class="flex-wrap pt-3 px-3 content_about flex dark:shadow-[9.91px_9.91px_15px_#1a1c1d,-9.91px_-9.91px_15px_#202223] dark:rounded-[5px]; dark:background: linear-gradient(145deg, #222426, #181a1a)"
          >
            <div class="max-md:order-1 max-md:w-full l_about w-[25%]">
              <div class="w-full">
                <div class="w-full bg-white p-2 rounded-lg">
                  <img
                    class="rounded-lg md:w-full"
                    src="../../src/images/CHẤT.jpg"
                    alt=""
                    srcset=""
                  />
                </div>
              </div>
            </div>
            <div
              class="max-md:order-2 max-md:w-full r_about w-[75%] flex justify-center text-sky-100"
            >
              <div class="md:p-10 md:pr-0 md:pt-0">
                <div>
                  <h1
                    class="uppercase font-bold md:text-4xl max-md:text-xl max-md:text-center max-md:py-3"
                  >
                    Le Quang Minh Duc
                  </h1>
                  <!-- Basic information -->
                  <div class="text-lg md:p-5 md:pb-0 md:pl-0 md:pr-0">
                    <h5 class="font-semibold md:text-xl">Information:</h5>
                    <div
                      class="flex-wrap grid md:grid-cols-2 max-md:grid-cols-1 pt-2"
                    >
                      <div class="left">
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Name: &ensp;</h5>
                          <h5 class="font-semibold">Le Quang Minh Duc</h5>
                        </div>
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Birthdate: &ensp;</h5>
                          <h5 class="font-semibold">2003</h5>
                        </div>
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Address: &ensp;</h5>
                          <h5 class="font-semibold truncate">
                            Ha Noi - Viet Nam
                          </h5>
                        </div>
                      </div>
                      <div class="right">
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Education: &ensp;</h5>
                          <h5 class="font-semibold">
                            Semester 5 FPT Polytechnic
                          </h5>
                        </div>
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Specialized: &ensp;</h5>
                          <h5 class="font-semibold">Web developer</h5>
                        </div>
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Email: &ensp;</h5>
                          <h5 class="font-semibold">
                            minhduc99badao@gmail.com
                          </h5>
                        </div>
                        <div class="py-1 flex">
                          <h5 class="font-semibold">Phone: &ensp;</h5>
                          <h5 class="font-semibold">+8486.907.6265</h5>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- My lover -->
                  <div class="md:p-5 md:pb-0 md:pl-0 md:pr-0">
                    <h5 class="font-semibold md:text-xl">
                      Introduce yourself:
                    </h5>
                    <p class="pt-2 text-lg">
                      Hello! I am currently a fifth-semester student at FPT
                      Polytechnic. I began learning programming in October 2021
                      and I am truly passionate about coding. In addition to
                      attending classes, I also learn through platforms such as
                      Facebook, YouTube, and from other programmers. I find it
                      very exciting to broaden my knowledge in this field. My
                      goal is to become an expert in website programming.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="dark:bg-[#0F172A] dark:text-gray-50">
      <div
        class="grid max-w-6xl grid-cols-1 py-6 md:py-20 md:pb-28 px-6 mx-auto lg:px-8 md:grid-cols-2 md:divide-x _neumophic_ shadow-[3.3px_3.3px_15px_#DCDCDC,-3.3px_-3.3px_15px_#FFFFFF] rounded-[10px] background: #fbfbfb dark:shadow-none"
      >
        <div class="py-6 md:py-0 md:px-6">
          <h1 class="text-4xl font-bold">Contact me</h1>
          <p class="pt-2 pb-4">Some information about us</p>
          <div class="space-y-4">
            <p class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 mr-2 sm:mr-6"
              >
                <path
                  fill-rule="evenodd"
                  d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z"
                  clip-rule="evenodd"
                ></path>
              </svg>
              <span>19/59 Le Duc Tho - My Dinh2 - Ha Noi - Viet Nam</span>
            </p>
            <p class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 mr-2 sm:mr-6"
              >
                <path
                  d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"
                ></path>
              </svg>
              <span>+8486.907.6265</span>
            </p>
            <p class="flex items-center">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="w-5 h-5 mr-2 sm:mr-6"
              >
                <path
                  d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
                ></path>
                <path
                  d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
                ></path>
              </svg>
              <span>minhduc99badao@gmail.com</span>
            </p>
          </div>
          <div class="py-5 flex flex-wrap max-w-[70%] gap-3">
            <a
              href="https://www.facebook.com/lequangminhduc.profile"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button
                id="facebook"
                class="bg-white sticky duration-500 border-2 border-blue-600 fixed w-12 transform hover:-translate-y-3 h-12 text-2xl rounded-full hover:bg-blue-600 hover:text-white text-blue-600"
              >
                <i class="fab fa-facebook-f"></i>
              </button>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <button
                id="instagram"
                class="border-2 hover:border-0 border-pink-500 bg-gradient-to-b text-2xl hover:from-indigo-600 hover:via-pink-600 hover:to-yellow-500 min-w-wull hover:text-white bg-white text-pink-600 w-12 h-12 transform hover:-translate-y-3 rounded-full duration-500"
              >
                <i class="fab fa-instagram"></i>
              </button>
            </a>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <button
                id="linkedin"
                class="bg-white transform hover:-translate-y-3 border-2 w-12 h-12 rounded-full duration-500 text-blue-500 border-blue-500 hover:bg-blue-500 hover:text-white text-2xl"
              >
                <i class="fab fa-linkedin-in"></i>
              </button>
            </a>
            <a href="mailto:minhduc99badao@gmail.com">
              <button
                id="email"
                class="bg-white transform hover:-translate-y-3 border-2 w-12 h-12 rounded-full duration-500 text-red-500 border-red-500 hover:bg-red-500 hover:text-white text-2xl"
              >
                <i class="fa-regular fa-envelope"></i>
              </button>
            </a>
            <a
              href="http://www.github.com/ogdp"
              target="_blank"
              rel="noopener noreferrer"
            >
              <button
                id="github"
                class="bg-white transform hover:-translate-y-3 border-2 w-12 h-12 rounded-full duration-500 text-black border-black hover:bg-black hover:text-white text-2xl"
              >
                <i class="fa-brands fa-github"></i>
              </button>
            </a>
          </div>
        </div>
        <form
          novalidate=""
          class="flex flex-col py-6 space-y-6 md:py-0 md:px-6 ng-untouched ng-pristine ng-valid"
        >
          <h1 class="text-4xl font-bold">Message</h1>
          <label class="block">
            <h5 class="mb-1 text-[19px] font-normal">Full name</h5>
            <input
              type="text"
              placeholder="Le Quang Minh Duc"
              class="text-[18px] px-4 py-2 block w-full focus:outline-none rounded-md shadow-sm focus:ring focus:ring-opacity-75 focus:ring-violet-400 dark:bg-gray-800"
            />
          </label>
          <label class="block">
            <h5 class="mb-1 text-[19px] font-normal">Email address</h5>
            <input
              type="email"
              placeholder="abc@email.com"
              class="text-[18px] px-4 py-2 block w-full rounded-md shadow-sm focus:ring focus:outline-none focus:ring-opacity-75 focus:ring-violet-400 dark:bg-gray-800"
              required
            />
            <h5 class="text-red-600 pt-1 px-2 text-sm font-bold truncate-[1]">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque
              dolores veniam odit?
            </h5>
          </label>
          <label class="block">
            <h5 class="mb-1 text-[19px] font-normal">Message</h5>
            <textarea
              rows="3"
              class="text-[18px] px-4 py-2 block w-full rounded-md focus:ring focus:ring-opacity-75 shadow-sm focus:outline-none focus:ring-violet-400 dark:bg-gray-800"
              placeholder="Message"
            ></textarea>
          </label>
          <div class="w-auto self-center">
            <button
              class="bg-white text-gray-800 font-bold rounded border-b-2 border-green-500 hover:border-green-600 hover:bg-green-500 hover:text-white shadow-md py-2 px-6 inline-flex items-center"
            >
              <span class="mr-2">Send</span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentcolor"
                  d="M2.01 21L23 12 2.01 3 2 10l15 2-15 2z"
                ></path>
              </svg>
            </button>
          </div>
        </form>
      </div>
    </section>

    <!-- <footer
      class="border-t bg-[#fbfbfb] border-black/[.2] dark:border-blue-100/[.1] w-full py-20 backdrop-blur-sm dark:bg-slate-900 dark:text-sky-100"
    >
      <h5
        class="font-medium text-gray-900 text-base text-center dark:bg-slate-900 dark:text-sky-100"
      >
        &copy;lequangminhduc 2023 .Inc
      </h5>
    </footer> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.nicescroll/3.5.1/jquery.nicescroll.min.js"></script>
    <script type="text/javascript">
      document.addEventListener(
        "touchstart",
        (event) => {
          // Do something
          event.preventDefault();
        },
        { passive: false }
      );
      $("html").niceScroll({
        cursorwidth: "10px",
        scrollspeed: 60,
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".auto_text", {
        strings: ["Developers Front-End !", "Developers Front-End !"],
        startDelay: 0,
        typeSpeed: 100,
        backSpeed: 100,
        loop: true,
      });
    </script>
    <script type="text/javascript" src="main.js"></script> -->
    <!-- <script type="text/javascript" src="bg.js"></script> -->
  </body>
</html>
